<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../src/storage/img/Shop-splash-screen1.jpg" type="image/png">
    <link rel="stylesheet" href="../src/css/checkout.css">
    <title>Checkout</title>
</head>
<body>
    <header>
        <a href="../views/detail2.html">
            <img src="../src/storage/img/checkout/BackCheckout.png" alt="back">
        </a>
        <h1>Checkout</h1>
        <a href="../views/home.html">
            <img src="../src/storage/img/checkout/MenuCheckout.png" alt="menu">
        </a>
    </header>
    <main>
        <div class="products">
            <img class="model1" src="../src/storage/img/checkout/Prenda1.png" alt="model1">
            <p class="Category">Trapstar x Irontae</p>
            <p class="product">Jacket Black</p>
            <p class="worth">$212.99</p>
            <img class="points" src="../src/storage/img/checkout/PuntosCheckout.png" alt="points">  
        </div>
        <div class="counter-container">
            <button class="button">−</button>
            <input type="number" value="1" min="0" class="count">
            <button class="button">+</button>
        </div>
        <hr class="linea1">
        <div class="products">
            <img class="model1" src="../src/storage/img/checkout/Prenda4.png" alt="model1">
            <p class="Category">Cool big jean</p>
            <p class="product1">Jeans</p>
            <p class="worth1">$194.99</p>
            <img class="points" src="../src/storage/img/checkout/PuntosCheckout.png" alt="points">
        </div>
        <div class="counter-container">
            <button class="button">−</button>
            <input type="number" value="1" min="0" class="count">
            <button class="button">+</button>
        </div>
        <hr class="linea1">
    </main>

    <!--************Main Content************-->
    <main class="main_content">
        <div class="content_wrapper">
        </div>

        <section class="shipping_information">
            <h1 class="main_section_title">Shipping Information</h1>

            <section class="payment_section">
                <button class="payment_button">
                    <img src="../src/storage/img/checkout/Default Icon.png" alt="Credit Card">
                    <div class="payment_button_credit">
                        <span>**** **** **** 2143</span>
                    </div>
                    <label class="custom_checkbox">
                        <img src="../src/storage/img/checkout/FlechaAbajoCheckout.png" alt="">
                        <span class="checkmark"></span>
                    </label>
                </button>

                <div class="order-item">
                    <span>Total (9 items)</span>
                    <span>$1,014.95</span>
                </div>

                <div class="order-item">
                    <span>Shipping Fee</span>
                    <span>$0.00</span>
                </div>

                <div class="order-item">
                    <span>Discount</span>
                    <span>$0.00</span>
                </div>

                <div class="divider"></div>

                <div class="order-item-total">
                    <span>Sub Total</span>
                    <span>$1,014.95</span>
                </div>
            </section>
        </section>
    </main>

    <!--************Footer************-->
    <footer class="footer_section">
        <a href="Pop-up-messange.html" class="pay_now_button">Pay</a>
    </footer>

</body>
</html>
