<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../src/storage/img/Shop-splash-screen1.jpg" type="image/png">
    <link rel="stylesheet" href="../src/css/detail.css">
    <title>Detail</title>
</head>
<body>
    <div class="header">
        <a class="back" href="home.html"> 
            <img src="../src/storage/img/detail/Back.png"> 
        </a>
        <input type="checkbox" class="heart1">
    </div>

    <div class="detail-container">
        <img class="detail" src="../src/storage/img/detail/Prenda1.png"> 
    </div>  
</body>
</html>