<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../src/storage/img/Shop-splash-screen1.jpg" type="image/png">
    <link rel="stylesheet" href="../src/css/detail.css">
    <title>Detail</title>
</head>
<body>
    <div class="header">
        <a class="back" href="home.html"> 
            <img src="../src/storage/img/detail/Back.png"> 
        </a>
        <input type="checkbox" class="heart1">
    </div>

    <div class="detail-container">
        <img class="detail" src="../src/storage/img/detail/Prenda1.png"> 
    </div>  
    <h2 class="letter">Trapstar x Irontage</h2>

    <div class="rating-time">
        <img src="../src/storage/img/detail/star_detail.png" alt="Rating">
        <span>5.0</span>
        <a class="Views" href="#">(7.932 reviews)</a>
    </div>

    <div class="product-details">
        <p class="Detail-description">
            Its simple and elegant shape makes it perfect for those of you who like minimalist clothes. 
            <a class="Views1" href="#"><strong>Read more. . .</strong></a>
            <hr class="hr">
        </p>
    </div>
    
    <!-- Opciones de Talla -->
    <div class="size-selection">
        <h3>Choose Size</h3>
        <div class="sizes">
            <button>S</button>
            <button>M</button>
            <button class="selected">L</button>
            <button>XL</button>
        </div>
    </div>
</body>
</html>