<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../src/storage/img/Shop-splash-screen1.jpg" type="image/png">
    <title>Home</title>
    <link rel="stylesheet" href="../src/css/home.css">
</head>
<body>
    <header>
        <div class="header__titulo">
            <h3>Hello, Welcome 👋🏻</h3>
            <h1>Danilo Muskus</h1>
        </div>
        <img src="../src/storage/img/home/Perfil-Foto.png">
    </header>
    <nav class="nav__busqueda">
        <form class="form__busqueda" action="?" method="get">
            <div class="input__logo">
                <input type="text" name="search" placeholder="Search clothes. . .">
            </div>
            <div class="input__filtro">
                <input type="submit" value="">
            </div>
        </form>
        <ul class="nav__categoria">
            <li class="select"><img src="../src/storage/img/home/Default Icon.png" alt=""><a href="#">All items</a></li>
            <li><img src="../src/storage/img/home/Default Icon (1).png" alt=""><a href="#">Dress</a></li>
            <li><img src="../src/storage/img/home/Default Icon (2).png" alt=""><a href="#">T-Shirt</a></li>
            <li><img src="../src/storage/img/home/Default Icon (3).png" alt=""><a href="#">Jeans</a></li>
        </ul>
    </nav>
    <main>
        <div class="div__comentarios">
        <section class="section__productos">
            <article class="article__contenedora">
                <a href="prenda1.html"><img src="../src/storage/img/home/Prenda1.png"></a>
                <div class="div__informacion">
                    <strong>Trapstar x Irontage</strong>
                    <p> Jacket Black</p>
                    <div class="precio-calificacion">
                        <span class="precio">$212.99</span> 
                        <div class="div__valoracion">
                            <img src="../src/storage/img/home/Star.png">
                            <label>5.0</label>
                            <input type="checkbox" class="producto1">
                        </div>
                    </div>
                </div>
            </article>
            <article class="article__contenedora2">
                <a href="prenda2.html"><img src="../src/storage/img/home/Prenda2.png"></a>
                <div class="div__informacion2">
                    <strong>Maria Ke Fisherman</strong>
                    <p>Black/Green</p>
                    <div class="precio-calificacion">
                        <span class="precio">$169.69</span> 
                        <div class="div__valoracion">
                            <img src="../src/storage/img/home/Star.png">
                            <label>4.8</label>
                            <input type="checkbox" class="producto2">
                        </div>
                    </div>
                </div>
            </article>
            <article class="article__contenedora">
                <a href="prenda3.html"><img src="../src/storage/img/home/Prenda3.png"></a>
                <div class="div__informacion">
                    <strong>Script Hoodie 2.0</strong>
                    <p>Grey/Pink</p>
                    <div class="precio-calificacion">
                        <span class="precio">$169.69</span> 
                        <div class="div__valoracion">
                            <img src="../src/storage/img/home/Star.png">
                            <label>4.6</label>
                            <input type="checkbox" class="producto1">

                        </div>
                    </div>
                </div>
            </article>
            <article class="article__contenedora3">
                <a href="prenda4.html"><img src="../src/storage/img/home/Prenda4.png" class="img__prenda2"></a>
                <div class="div__informacion2">
                    <strong>Irongate Sleeve</strong>
                    <p>Black Gradient</p>
                    <div class="precio-calificacion">
                        <span class="precio">$169.69</span> 
                        <div class="div__valoracion">
                            <img src="../src/storage/img/home/Star.png">
                            <label>4.5</label>
                            <input type="checkbox" class="producto1">
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer_shadow">
        </div>
        <div class="footer_icon">
            <a href="../views/home.html">
                <img class="social-icon" src="../src/storage/img/home/Home.png" alt="Home">
            </a>
            <a href="../views/detail.html">
                <img class="social-icon" src="../src/storage/img/home/Cart.png" alt="Cart">
            </a>
            <a href="../vies">
                <img class="social-icon" src="../src/storage/img/home/Favourite.png" alt="Favourite">
            </a>
            <a href="">
                <img class="social-icon" src="../src/storage/img/home/Account.png" alt="">
            </a>
        </div>
    </footer>
</body>
</html>
