<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../src/storage/img/Shop-splash-screen1.jpg" type="image/png">   
    <title>Splash Screen</title>
    <link rel="stylesheet" href="../src/css/splashscreen.css">
</head>
<body>

    <header>
        <div class="header__splash">
            <a href="../views/home.html" class="splash-link">6lock</a>
        </div>
    </header>

</body>
</html>
