@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 19px;
    z-index: 10; 
}

.back img, .heart img {
    width: 70px; 
    height: 70px;
}

.detail-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.detail {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.rating-time {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "EncodeSans-Regular";
    font-size: 15px;
    color: var(--color-2);
    padding-left: 19px;
    margin-bottom: 10px;
}

.rating-time img {
    width: 16px;
    height: 16px;
}

.product-details {
    font-family: "EncodeSans-Regular";
    text-align: left;
    color: var(--color-3);
    padding: 0px 19px;
    font-size: 16px;
    line-height: 1.7;
}

.size-selection, .color-selection {
    padding: 10px 19px;
}

.size-selection h3, .color-selection h3 {
    font-size: 16px;
    font-family: "EncodeSans-Bold";
    color: var(--color-1);
    margin-bottom: 8px
}

.color-selection h3 {
    margin-top: -80px;
    margin-left: 230px;
}

.sizes {
    display: flex;
    gap: 10px;
}

.sizes button {
    border: 1px solid var(--color-2);
    background-color: var(--color-4);
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.sizes button.selected {
    background-color: var(--color-5);
    color: var(--color-4);
    border: none;
}
