@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/**************** header ******************/
header {
    /* background-color: red; */
    padding: 28px 19px 0px;
    display: flex;
    justify-content: space-between;
}

.header__titulo {
    /* background-color: olivedrab; */
    display: flex;
    flex-direction: column;
}

.header__titulo h1 {
    /* background-color: violet; */
    font-size: 20px;
    color: var(--color-5);
    font-weight: normal;
    font-family: "EncodeSans-Bold";
}

.header__titulo h3 {
    /* background-color: blueviolet; */
    font-size: 18px;
    font-weight: normal;
    color: var(--color-2);
    font-family: "EncodeSans-Regular";
}

header img {
    width: 32px;
    height: 32px;
    object-position: 40% 25% ;
    border-radius: 32px;
    border-color: var(--color-5);
    border: 2px solid;
}

/******************************************/
/**************** nav ******************/


.form__busqueda {
    /* background: blue; */
    padding: 19px 19px 41px 19px;
    overflow: hidden;
    display: flex;
    gap: 13px;
    justify-content: space-between;
}

.input__logo {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input__logo::before {
    /* background: orange; */
    content: url(../storage/img/home/Main\ Icon.png);
    position: absolute;
    padding-left: 15px;
    padding-top: 7px;
}

.form__busqueda input[type="text"] {
    box-sizing: content-box;
    flex: 1;
    height: 100%;
    font-family: "EncodeSans-Regular";
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--color-6);
    padding: 0 10px 0 40px;
}

.form__busqueda input[type="text"]::placeholder {
    color: var(--color-6);
}

.input__filtro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.input__filtro::after { 
    content: url(../storage/img/home/Filter.png);
    width: 24px;
    height: 24px;
    object-fit: cover;
    position: absolute;
}

.form__busqueda input[type="submit"] {
    flex: 1;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--color-1);
}

.nav__categoria li img {
    margin-right: 8px; 
}

.nav__categoria {
    /* background: green; */
    margin: 0px 19px 0;
    display: flex;
    overflow-x: scroll;
    gap: 14px;
}

.nav__categoria li {
    flex: 1;
    list-style: none;
    border-radius: 20px;
    min-width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: var(--color-3);
}

.nav__categoria li a {
    /* background: yellow; */
    text-decoration: none;
    color: var(--color-1);
    font-family: "EncodeSans-Medium";
    font-size: 16px;
}

li.select {
    background: var(--color-1);
}

li.select a {
    color: var(--color-4);
}

li:active {
    background: var(--color-1);
}

li:active a {
    color: var(--color-4);
}

/******************************************/
/**************** main ******************/
main{
    padding: 41px 19px 0px;
}
.section__productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article__contenedora {
    width: 47%;
    margin-bottom: 5%;
    height: 225px;
    display: flex;
    gap: 9px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: none;
    position: relative;
}

.article__contenedora::after{
    content: " ";
    width: 90px;
    height: 5px;
    backdrop-filter: invert(10px);
    background: var(--color-shadow-1);
    border-radius: 100%;
    position: absolute;
    z-index: 5;
    inset: 0;
    margin: auto;
}