@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/**************** header ******************/
header {
    /* background-color: red; */
    padding: 28px 19px 0px;
    display: flex;
    justify-content: space-between;
}

.header__titulo {
    /* background-color: olivedrab; */
    display: flex;
    flex-direction: column;
}

.header__titulo h1 {
    /* background-color: violet; */
    font-size: 20px;
    color: var(--color-5);
    font-weight: normal;
    font-family: "EncodeSans-Bold";
}

.header__titulo h3 {
    /* background-color: blueviolet; */
    font-size: 18px;
    font-weight: normal;
    color: var(--color-2);
    font-family: "EncodeSans-Regular";
}

header img {
    width: 32px;
    height: 32px;
    object-position: 40% 25% ;
    border-radius: 32px;
    border-color: var(--color-5);
    border: 2px solid;
}

/******************************************/
/**************** nav ******************/


.form__busqueda {
    /* background: blue; */
    padding: 19px 19px 41px 19px;
    overflow: hidden;
    display: flex;
    gap: 13px;
    justify-content: space-between;
}

.input__logo {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input__logo::before {
    /* background: orange; */
    content: url(../storage/img/home/Main\ Icon.png);
    position: absolute;
    padding-left: 15px;
    padding-top: 7px;
}

.form__busqueda input[type="text"] {
    box-sizing: content-box;
    flex: 1;
    height: 100%;
    font-family: "EncodeSans-Regular";
    font-size: 18px;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--color-6);
    padding: 0 10px 0 40px;
}

.form__busqueda input[type="text"]::placeholder {
    color: var(--color-6);
}